/* Styling to simulate an A4 page */
.a4-page {
    width: 210mm;
    height: 297mm;
    margin: 20mm auto; /* Center the page */
    padding: 5mm; /* Add padding to avoid content being cut off */
    /* border: 1px solid #000; Optional: Add border for visibility */
    box-sizing: border-box;
    /* background-color: #fff; */
  }

  .print-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
  }

  button[type="button"] {
    background-color: #4caf50;
    border-color: #2e7d3f;
  }

  .inputSno, .inputRat, .inputPar, .inputNOM, .inputQty, .inputAmo {
    height: 50px;
  }

  .inputSno {
    width: 35px;
  }

  .inputRat {
    width: 80px;
  }

  .inputPar {
    width: 400px;
  }

  .inputNOM {
    width: 80px;
  }

  .inputQty {
    width: 80px;
  }

  .inputAmo {
    width: 90px;
  }

  @page {
    size: A4;
  }
  
  /* Optional: You can add styles to ensure printing is A4-sized */
  @media print {
    .a4-page {
      width: 210mm;
      height: 297mm;
      margin: 0;
      /* padding: 0; */
      border: none;
      box-sizing: content-box;
    }
    
    .print-button {
      display: none;
      height: 0px;
      width: 0px;
    }
  }
  